.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 24px; }
  .navbar-brand span {
    color: #42e8df; }

.gpu-img {
  width: 100%; }

.gpu-box {
  margin-left: -50px;
  margin-top: 30px; }

.section {
  padding: 80px 0; }

.header-section {
  color: #FFF;
  position: relative;
  background: #24126a url("../img/header_line.png") no-repeat;
  background-position: bottom center;
  min-height: 860px;
  padding-top: 220px; }
  .header-section h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 400; }
  .header-section p {
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 300; }
  .header-section:before {
    content: "";
    display: block; }

.section-about {
  margin-top: -20px; }

.content-sub-header {
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  color: #24126a; }

.content-box-header h3 {
  color: #382c4d;
  margin-bottom: 20px; }

.content-box-body p {
  font-size: 16px;
  font-weight: 300;
  color: #382c4d;
  opacity: 0.8; }
.content-box-body .bline {
  margin-top: 30px;
  margin-bottom: 50px; }

.section-title {
  margin-bottom: 60px; }

.img-icon-item {
  width: 100px; }

.img-logo-item {
  width: 200px; }

.widget-box {
  padding-left: 0;
  position: relative;
  margin-bottom: 60px; }
  .widget-box .icon-item {
    position: absolute;
    left: -15px;
    top: -15px; }
  .widget-box .widget-title {
    color: #282331;
    font-weight: 800;
    margin-bottom: 30px;
    display: block; }
  .widget-box .widget-content {
    font-size: 16px;
    font-weight: 300;
    color: #382c4d;
    opacity: 0.8; }

.section-header {
  margin-bottom: 50px;
  text-align: center; }
  .section-header .section-sub-header {
    font-size: 16px;
    font-weight: 300;
    color: #382c4d;
    opacity: 0.8;
    margin-top: 20px;
    display: block; }

.white-box {
  box-shadow: 0 0 68px rgba(233, 229, 254, 0.35);
  transition: all 0.12s ease-in-out;
  background: #FFF; }
  .white-box .white-box-img {
    background: #e9e5fe;
    height: 200px;
    background-size: cover;
    background-position: center center; }
  .white-box .white-box-content {
    padding: 50px 30px; }
  .white-box .white-box-title {
    font-size: 16px;
    color: #282331;
    display: block;
    font-weight: 800;
    margin-bottom: 30px; }
  .white-box .white-box-body {
    font-size: 16px;
    font-weight: 300;
    color: #382c4d;
    opacity: 0.8; }
  .white-box:hover {
    box-shadow: 0 0 68px #e9e5fe; }

.banner-box {
  padding: 50px;
  margin-right: 120px;
  padding-right: 200px;
  box-shadow: 0 0 35px rgba(190, 195, 209, 0.35);
  position: relative; }
  .banner-box p {
    font-size: 24px; }
  .banner-box .btn-banner {
    position: absolute;
    right: -120px;
    top: 50%;
    margin-top: -40px;
    height: 80px;
    color: #FFF;
    font-weight: normal;
    min-width: 200px; }

.white-box-content-sm {
  padding: 30px 20px; }

.team-box {
  cursor: pointer; }
  .team-box .white-box-title {
    margin-bottom: 10px;
    font-weight: 600; }

.white-box-label {
  color: #8053f7;
  font-weight: 400;
  font-size: 14px; }

.ava {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: block;
  background: #e6e8fa;
  box-shadow: 0 20px 35px rgba(190, 195, 209, 0.35); }

.testimonial-body {
  margin-bottom: 40px; }
  .testimonial-body p {
    font-size: 16px;
    font-weight: 300;
    color: #382c4d;
    opacity: 0.8; }

.avatat-box {
  position: relative;
  padding-left: 80px;
  min-height: 60px;
  padding-top: 5px; }
  .avatat-box .user-name {
    display: block;
    margin-bottom: 3px; }
  .avatat-box .ava {
    position: absolute;
    left: 0;
    top: 0; }

.avatat-box-link {
  margin-top: 30px;
  margin-bottom: 30px; }

.row-30 {
  margin-left: -30px;
  margin-right: -30px; }
  .row-30 > div {
    padding-left: 30px;
    padding-right: 30px; }

.section-footer {
  background: #faf7ff url("../img/footer_img.png") no-repeat;
  background-position: left top;
  margin-top: 80px;
  color: #67636e;
  font-weight: 300; }
  .section-footer a {
    color: #73799a;
    font-weight: 300; }
    .section-footer a:hover {
      text-decoration: none;
      color: #8053f7; }

.links-list {
  margin: 0;
  list-style: none;
  padding: 0; }
  .links-list li {
    margin-bottom: 10px; }
    .links-list li strong {
      font-weight: 800;
      color: #24136b; }
  .links-list .links-title {
    margin-bottom: 40px; }

.social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 15px; }
  .social-list li {
    margin-right: 20px; }
    .social-list li a {
      display: block;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e1d0fa; }

.phone {
  color: #ff9434;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px; }

.footer-form {
  margin-top: 35px; }

.form-box {
  position: relative; }
  .form-box .form-arrow-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c7a2fe;
    cursor: pointer;
    font-size: 12px; }
    .form-box .form-arrow-btn:hover {
      color: #101010; }

.section-icons-list {
  background-image: url("../img/body_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 130px;
  margin-bottom: -10px; }

.logo {
  height: 42px; }

.footer-logo {
  margin-bottom: 30px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0;
  padding-top: 60px;
  transition: all 0.12s ease-in-out;
  min-height: 57px; }
  #header.top-nav-collapse {
    padding-top: 0; }

.navbar-dark .navbar-nav .nav-link {
  color: #FFF; }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #FFF;
  background: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: #ff9434; }

.section-testimonial .nav-tabs {
  border: none; }
  .section-testimonial .nav-tabs .nav-link {
    border: none !important;
    color: #282331;
    opacity: 0.5; }
    .section-testimonial .nav-tabs .nav-link.active {
      opacity: 1; }

.navbar-toggler {
  border-radius: 0;
  border: none;
  min-height: 57px; }

.navbar-brand {
  min-height: 57px;
  margin-top: -1px;
  padding: 0;
  display: flex;
  align-items: center; }

.row.row-team > div {
  flex: 0 0 20%;
  max-width: 20%; }

.widget-logo-box .img-logo-item {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.2s ease-in-out; }
.widget-logo-box:hover .img-logo-item {
  filter: grayscale(0%);
  opacity: 1; }

.bio-box {
  min-height: 300px;
  background: #FFF;
  padding-left: 300px;
  position: relative; }
  .bio-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px; }

.modal.modal-bio .modal-dialog {
  max-width: 800px; }

.content-bio {
  padding: 30px; }
  .content-bio .sub-bio-text {
    color: #8053f7;
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin-bottom: 20px; }

body {
  font-family: "Muli", sans-serif; }

.container-fluid {
  padding-left: 80px;
  padding-right: 80px; }

a {
  transition: all 0.12s ease-in-out; }

h1 {
  font-weight: 600; }

.bg-dark {
  background: #24126a !important; }

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 30px; }
  .btn.btn-lg {
    font-size: 16px; }

.btn-primary {
  background-color: #42e8df;
  color: #1f105c;
  border-color: #42e8df; }
  .btn-primary:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: #1f105c;
    box-shadow: 0 0 35px rgba(190, 195, 209, 0.35); }
  .btn-primary:active {
    background-color: #FFF !important;
    border-color: #FFF !important;
    color: #1f105c !important; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #42e8df !important; }

.btn-success {
  background-color: #ff9434;
  color: #FFF;
  border-color: #ff9434; }
  .btn-success:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: #1f105c;
    box-shadow: 0 0 35px rgba(190, 195, 209, 0.35); }
  .btn-success:active {
    background-color: #FFF !important;
    border-color: #FFF !important;
    color: #1f105c !important; }
  .btn-success:focus {
    box-shadow: 0 0 0 0.2rem #ff9434 !important; }

.form-control {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 56px rgba(216, 216, 216, 0.35);
  font-weight: 300;
  padding: 10px 15px;
  height: 50px; }

@media (max-width: 992px) {
  #header {
    padding-top: 0; }
    #header .nav-link {
      padding-left: 15px; }

  .header-section {
    background: none;
    background-color: #24126a;
    min-height: inherit;
    padding: 120px 0; }

  .hidden-md {
    display: none; }

  .section-about {
    background: #faf7ff;
    margin-top: 0; }

  .widget-box {
    padding-left: 0;
    margin-bottom: 20px; }

  .section-icons-list {
    background: none;
    text-align: center; }

  .widget-box .widget-title {
    margin-bottom: 10px; }

  .section-services {
    background: #faf7ff; }

  .white-box {
    margin-bottom: 30px; }

  .section-team {
    background: #faf7ff; }

  .banner-box {
    padding: 30px;
    margin-right: 0; }
    .banner-box .btn-banner {
      position: relative;
      margin: 0;
      top: 0;
      left: 0; }

  .row.row-team > div {
    flex: 0 0 33%;
    max-width: 33%; }

  .section-footer {
    text-align: center; }
    .section-footer .links-list .links-title {
      margin-bottom: 10px;
      margin-top: 20px; }

  .content-bio {
    padding: 20px; }

  .bio-box {
    min-height: 150px;
    background: #FFF;
    padding-left: 150px;
    position: relative; }
    .bio-box img {
      position: absolute;
      left: 0;
      top: 0;
      height: 150px; }

  .row-30 {
    margin-left: -15px;
    margin-right: -15px; }
    .row-30 > div {
      padding-left: 15px;
      padding-right: 15px; } }
@media (max-width: 768px) {
  .logo {
    margin-left: 15px; }

  .row.row-team > div {
    flex: 0 0 50%;
    max-width: 50%; } }

/*# sourceMappingURL=common.css.map */
